body{
    margin: 0%;
    padding: 0%;
}
#top-nav{
    width: 100%;
    height: 8vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: white;
    font-weight: 100;
    font-size: 110%;
    line-height: 5px;
    padding-top: 1px;
    padding-bottom: 10px;
    text-align: center;
}
#above-nav{
    width: 100%;
    height: 5vh;
    background-color: rgb(230, 228, 228);
}
#nav{
    width: 94%;
    height: 8vh;
    padding: 10px 3%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav > a:nth-child(1){
    background-color: transparent;
    padding: none;
}
#nav > a:nth-child(1):hover{
    border: none;
}
#nav >a> h1{
    font-size: 250%;
    background-color: transparent;
}
#nav > form{
    width: 45%;
    padding: 10px;
    align-items: center;
    padding: 5px;
}
#nav > form> #search{
    width: 75%;
    padding: 10px;
    margin-right: 5px;
    background-color: rgb(230, 228, 228);
    border: none;

}
#nav > form> #submit{
    width: 15%;
    padding: 10px;
    background-color: rgb(230, 228, 228);
    border: none;

}
#nav > select{
    width: 8%;
    border: 1px solid rgb(230, 228, 228) ;
    padding: 5px;
}
#nav > select:hover{
    border-bottom: 5px solid black;
}
#nav > select > option{
    width: 13%;
    padding: 5px;
    border: 1px solid rgb(230, 228, 228);
}
#nav > a{
    align-items: center;
    text-decoration: none;
    color: black;
    width: 8%;
    text-align: center;
    padding: 5px;
    background-color: rgb(230, 228, 228);
}
#nav > a:hover{
    border-bottom: 5px solid black;
    width: 8%;
}
#catagory{
    width: 100%;
    height: 6vh;
    text-align: center;
    border-top: 2px solid  rgb(230, 228, 228);
    border-bottom: 2px solid  rgb(230, 228, 228);
}
#catagory > div{
    margin: auto;
    margin-top: 10px;
    justify-content: space-around;
    width: 60%;
}
#catagory > div >a{
    padding-left: 2%;
    padding-right: 2%;
    text-decoration: none;
    color: black;
}
#catagory > div >a:hover{
    border-bottom: 5px solid black;
    padding-bottom: 5px;
    text-align: center;
}
h1{
    text-align: center;
    background-color: bisque;
    border: none;
}
#container{
    width: 95%;
    margin: auto;
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    border: 1px solid black;
}
#container > div{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    line-height: 50%;
}
#container > div > img{
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
#container > div > button{
    width: 70%;
    margin: auto;
    display: block;
    align-items: center;
    height: 30px;
    margin-top: 3px;
    color: black;
    font-weight: 150%;
    background-color: rgb(200, 197, 197);
    border: none;
}

#container > div > button:hover{
    background-color: black;
    color: white;
}